
body {
  margin: 0;
}

.container-main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.container-sub {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  visibility: hidden;
}

.menu {
  color: white;
  background-color: gray;
  border: 1px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32pt;
}

.btn {
  color: white;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
}

.btn-confirm {
  background-color: green;
}

.btn-alt {
  background-color: blue;
}

.btn-close {
  background-color: red;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.line-label {
  padding: 0 10px;
}

.line-input {
  color: white;
  background-color: gray;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

.picker {
  display: flex;
  align-items: flex-start;
}

.picker-dropdown {
  color: white;
  background-color: gray;
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
}

.picker-dropdown-item {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 6px;
}

.picker-dropdown-item:hover {
  background-color: cyan;
  color: black;
}

.picker-wheel {
  margin: 20px;
}