
body {
  margin: 0;
}

.main-container {
  position: relative;
}

.sub-container {
  position: fixed;
}

.menu {
  color: white;
  background-color: gray;
  border: 1px solid black;
  padding: 10px;
}

.menu-btn {
  color: white;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.menu-confirm-btn {
  background-color: blue;
}

.menu-alt-btn {
  background-color: green;
}

.menu-close-btn {
  background-color: red;
}

.line-item {
  display: flex;
  justify-content: space-between;
}
